@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@100&display=swap");
.register-box {
  display: flex;
  flex-direction: column;
}
.register-box .welcome-register {
  font-family: "Dela Gothic One";
  text-align: left;
  margin: 2rem;
  font-size: 2.5rem;
}
.register-box .label-register-ussername {
  display: flex;
  height: 1.5rem;
  padding: 0.5rem;
  font-family: "Chivo", sans-serif;
}
.register-box .input-register-ussername {
  width: 15rem;
  text-align: left;
  color: grey;
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  box-shadow: 0.1px 2px grey;
}
.register-box .label-register-email {
  display: flex;
  height: 1.5rem;
  padding: 0.5rem;
  font-family: "Chivo", sans-serif;
}
.register-box .input-register-email {
  width: 15rem;
  text-align: left;
  color: grey;
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  box-shadow: 0.1px 2px grey;
}
.register-box .label-register-password {
  display: flex;
  height: 1.5rem;
  padding: 0.5rem;
  font-family: "Chivo", sans-serif;
}
.register-box .input-register-password {
  width: 15rem;
  text-align: left;
  color: grey;
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  box-shadow: 0.1px 2px grey;
}
.register-box .label-register-passwordconfirmed {
  display: flex;
  height: 1.5rem;
  padding: 0.5rem;
  font-family: "Chivo", sans-serif;
}
.register-box .input-register-passwordconfirmed {
  width: 15rem;
  text-align: left;
  color: grey;
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  box-shadow: 0.1px 2px grey;
}
.register-box .checkbox-terms-and-conditions {
  padding: 0.5rem;
}
.register-box .checkbox-terms-and-conditions::after {
  content: "Aceptar terminos y condiciones.";
  margin: 0.5rem;
}
.register-box .register-text {
  color: black;
  font-family: "Dela Gothic One", cursive;
  position: relative;
  right: 2em;
  margin: 2rem;
  font-size: 2.5rem;
}
.register-box .register-btn {
  width: 3.5rem;
  height: 3rem;
  float: right;
  overflow: hidden;
  position: relative;
  left: 2.5rem;
  bottom: 5rem;
  border-radius: 20px;
  background-image: linear-gradient(#7077a7, #A7ACD2);
  border: 0;
  color: white;
  font-family: "Dela Gothic One";
}
.register-box .social-media {
  display: inline;
  position: relative;
  bottom: 2rem;
}
.register-box .existing-account {
  position: relative;
  bottom: 2rem;
}
.register-box .login-sesion {
  color: black;
}
.register-box .register-btn-deskopt {
  display: none;
}

@media screen and (min-width: 992px) {
  .register-box {
    float: right;
    position: relative;
    right: 8rem;
  }
  .input-register-ussername, .input-register-email, .input-register-password, .input-register-passwordconfirmed {
    background-color: #EAEAEA;
    width: 18rem;
    border-radius: 20px;
  }
  .register-usser-email {
    padding: 1.5rem;
  }
  .social-media {
    position: relative;
    bottom: 2rem;
  }
  .checkbox-terms-and-conditions {
    margin: 0.5rem;
  }
}/*# sourceMappingURL=register.css.map */