@import "https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arimo:wght@400;500;700&family=Bungee&family=Capriola&display=swap";

$color_black: black;
$color_light: #F5F5F5;
$color_violet: #6a1ba2;
$color_brown: #4B2900;
$color_darkbrown: #3D2D1B;
$color_purple: #7D84B2;
$color_darkgreen: #94a573;
$font-family_body: 'Arimo', sans-serif;
$font-family_title: 'Archivo Black', sans-serif;
$font-family_buttoms: 'Capriola', sans-serif;
$font-family_updates: 'Bungee', sans-serif;
$background-color_body: #F9F9ED;
$background-color_green: #DBF4A7;
$background-color_darkgreen: #94a573;
$background-color_purple: #7D84B2;
$background-color_light: #D9D9D9;